a {
    text-decoration: none;
}
       h1{
       text-align: top;
       font-size: 100px;
       text-transform: uppercase;
       color: rgb(23, 168, 212);
       font-family: Verdana;
       }
      

       h2{
     
       font-size: 20px;
       text-transform: uppercase;
       color: rgb(245, 245, 245);
       font-family: 'serif';
       }h4{
       
       font-size: 25px;
       text-transform: uppercase;
       color: rgb(19, 190, 202);
       font-family: 'serif';
       }h5{
       text-align: center;
       font-size: 40px;
       text-transform: uppercase;
       color: rgb(148, 18, 160);
       font-family: 'serif';
       } h6{
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        font-family: 'serif';
        }
        .wzory{
            display: inline-block;
        }
        .button {
            background-color: #1db325;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        
            
          }
          